body {
  background-color: hsl(0, 0%, 100%);
  font-family: -apple-system, Helvetica Neue, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Open Sans, sans-serif;
  text-transform: uppercase;
  padding: 50px;
  text-align: center;
}

.block{
  position: relative;
  display: inline-block;
  background-color: hsl(0, 4%, 73%);
  padding: 100px;
  border-radius: 10px;
  border: 3px solid #000000e1;
}

#pop {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 132px;
  background-image: url(../img/knopka.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 60px;
  color: #ffffff;
  padding-top: 40px;
}

.hide {
  opacity: 0;
}

#tooltip {
  position: absolute;
  background: rgb(254, 255, 255);
  color: #643045;
  font-weight: bold;
  padding: 5px;
  width: 240px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #000000e1;
  z-index: 999;
}

#tooltripTop {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  border-bottom:  1px solid hsla(0, 0%, 0%, 0.882);
}

#tooltripBot{
  width: 100%;
  font-size: 12px;
}


#arrow,
#arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  border-bottom:  3px solid hsla(0, 0%, 0%, 0.882);
  border-right:  3px solid hsla(0, 0%, 0%, 0.882);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

/* Для библиотеки opperjs */
/* #tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
} */
